In [1]:
import pandas as pd
import numpy as np

In [ ]:
import pl

In [2]:
df = pd.read_csv("mock-data-180-days-corrected-negatives-added-ids.csv")
df = df.sort_values("timestamp")
df.head()

    timestamp   id            coordinate  rssi
0  1553313600  2|4  -14.779047;26.153262   119
1  1553313600  2|4  -14.779047;26.153262   243
2  1553313600  2|5  -14.779047;26.200068   176
3  1553313600  2|5  -14.779047;26.200068    99
4  1553313600  3|4  -14.826595;26.153262   246

In [3]:
import plotly.express as px

In [ ]:
px.set_mapbox_access_token(open(".mapbox_token").read())